
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f293a;
    color: white;
    overflow: hidden;
}
.Container{
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background-color: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg/69)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s/69));
}
@keyframes animateBlink{
    0%{
        background: #0ef;
    }
    25%{
        background: #2c4766;
    }
}
.login-page{
    position: absolute;
    width: 400px;
}
.login-page form{
    width: 100%;
    padding: 0 50px;
}
h1{
    font-size: 2em;
    color: #0ef;
    text-align: center;
}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #2c4766;
    outline: none;
    color: #fff;
    font-size: 1em;
    padding: 0 20px;
    border-radius: 40px;
    transition: .5s ease ;
}
.input-box input:focus,
.input-box input:valid{
 border-color: #0ef;
    }
.input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:not(:placeholder-shown)+ label{
    top: 1px;
    font-size: .8em;
    background-color: #1f293a;
    padding: 0 6px;
    color: #0ef;
    }
.forgot-pass{
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a{
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height:45px;
    background-color: #0ef;
    outline: none;
    border: none;
    border-radius: 40px;
    color: #1f293a;
    font-size: 1em;
}
.btn:hover{
    color: white;
    background-color: #1568e4;
    box-shadow: 0 0 10px 0 #0ef ;
}
.signup-btn{
    margin: 20px 0 10px;
    text-align: center;
}
.signup-btn a{
  font-size: 1em;
  color: #0ef;
  text-decoration: none;
}
.signup-btn a:hover{
    text-decoration: underline;
}

